{
  "plugins": ["prettier-plugin-svelte"],
  "tabWidth": 2,
  "singleQuote": true,
  "svelteSortOrder" : "options-scripts-markup-styles",
  "overrides": [
    {
      "files": "*.json",
      "options": { "parser": "json" }
    }
  ]
}
